<section class="background-page">
  <!-- navbar -->
  <nav class="navbar">
    <!-- raca dropdown-->
    <article class="race-container">
      <div class="race-title">Raça:</div>
      <select
      #dogRaces
      (ngModel)="selectValue"
      (change)="onSelected(dogRaces.value)"
      class="race-select"
      >
        <option default
          *ngFor="let option of options"
          class="race-select-text"
          [value]="option">
          {{option}}
        </option>

      </select>
    </article>
    <!-- profile button -->
    <article class="profile-container" (click)="goToProfile()">
      <!-- icon-->
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
        >
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
          />
        </svg>
      </div>
      <div class="home-btn" *ngIf="contentView == 'home'">{{ "Perfil" }}</div>
      <div *ngIf="contentView == 'profile'">{{ "Perfil" }}</div>
    </article>
  </nav>
  <div>
    <!-- cards -->
    <article class="cards-container">
      <ng-container *ngFor="let card of cards">
        <div class="single-card">
          <!-- <img src="../assets//images/dog-image.jpg" alt="" /> -->
          <img [src]="imageUrl" alt="">
          <div class="single-card-info">
            <h4>{{ card.name }}</h4>
            <div>{{card.name}} </div>
            <p>{{ card.life_span }}</p>
          </div>
        </div>
      </ng-container>
    </article>

    <!-- pagination -->
    <article class="pagination-container">
      <div class="page-name">Página: 1</div>
      <div class="page-buttons">
        <img
          class="arrow-left"
          src="../assets//images//icons8-chevron-left-30.png"
          alt=""
        />
        <div class="middle-bar">|</div>
        <img
          class="arrow-right"
          src="../assets//images//icons8-chevron-right-30.png"
          alt=""
        />
      </div>
    </article>
  </div>
</section>
